*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background: linear-gradient(135deg,#0f172a,#1e293b,#020617);
    color:white;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    border-bottom:1px solid rgba(255,255,255,0.08);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:22px;
    font-weight:600;
}

.logo-box{
    background:linear-gradient(135deg,#6366f1,#22c55e);
    padding:10px;
    border-radius:10px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-btn{
    background:none;
    border:none;
    color:#cbd5f5;
    font-size:16px;
    padding:8px 18px;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
}

.nav-btn:hover{
    background:rgba(255,255,255,0.08);
    color:white;
}

.active{
    background:linear-gradient(135deg,#6366f1,#22c55e);
    color:white;
}


/* HERO */

.hero{
    text-align:center;
    padding:120px 20px 90px;
}

.tag{
    display:inline-block;
    padding:6px 16px;
    border-radius:30px;
    background:rgba(255,255,255,0.08);
    margin-bottom:20px;
    font-size:14px;
}

.hero h1{
    font-size:60px;
    line-height:1.2;
    font-weight:700;
}

.hero h1 span{
    background:linear-gradient(135deg,#6366f1,#22c55e);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.hero p{
    margin:25px auto;
    max-width:600px;
    color:#cbd5f5;
    font-size:18px;
}


/* HERO BUTTONS */

.hero-buttons{
    margin-top:30px;
}

.btn-primary{
    padding:14px 30px;
    border:none;
    border-radius:30px;
    background:linear-gradient(135deg,#6366f1,#22c55e);
    color:white;
    font-size:16px;
    margin-right:15px;
    cursor:pointer;
    transition:0.3s;
}

.btn-primary:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

.btn-outline{
    padding:14px 28px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,0.2);
    background:none;
    color:white;
    font-size:16px;
    cursor:pointer;
}

/* HOW IT WORKS */

.how{
    padding:100px 80px;
    text-align:center;
}

.how h2{
    font-size:40px;
    margin-bottom:10px;
}

.sub{
    color:#cbd5f5;
    margin-bottom:60px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    padding:35px;
    border-radius:18px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    background:rgba(255,255,255,0.08);
}

.icon{
    font-size:40px;
    margin-bottom:20px;
}

.card h3{
    margin-bottom:10px;
}

.card p{
    color:#cbd5f5;
}


/* CTA */

.cta{
    text-align:center;
    padding:100px 20px;
}

.cta h2{
    font-size:40px;
    margin-bottom:15px;
}

.cta p{
    max-width:600px;
    margin:auto;
    color:#cbd5f5;
    margin-bottom:30px;
}